*{
    margin: 0;
    padding: 0;
}
.cabecalho{background-color: rgb(133, 8, 8); 
color:peachpuff;
display:flex;
justify-content: space-around;}
.cabecalho-imagem{width: 9%;}
.cabecalho-lista-item{
    display:inline-block;
    margin: 0 16px;
}