*{
    margin: 0;
    padding: 0;
}



body{font-family: Arial, Helvetica, sans-serif;}
.cabecalho{background-color: rgb(133, 8, 8); 
color:peachpuff;
display:flex;
justify-content: space-around;
padding: 24px 0;
}

.cabecalho-imagem{width: 9%;}
.cabecalho-lista-item{
    display:inline-block;
    margin: 0 16px;
    padding: 30px 0;
    font-size: 20px;}
    h1 
    {
        display:inline-block;
        margin: 0 12px;
        padding: 30px 0;
        font-size: 30px;
    }
    .escola-imagem{
width: 12%;
  }

.escola{
    background-image: linear-gradient(rgb(133, 8, 8), black );
    color:peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 24px 0;

  }
  .escola-conteudo
  {width: 50%}

  .escola-titulo
  {padding: 50px 30px;}
  .aluno-um{
    width: 45%;
    height: 200px;
  }
  .estudante-icone
  {width: 64px;}

  .estudante-div
  {text-align: center;}

  .aluno-dois{
    width: 40%;
    height: 199px;
  }
  .estudante-icone
  {width: 64px;}


  .alunos-titulo
  {
    text-align: center;
    padding: 50px 0;
  }
  .estudantes-todos{
    display: grid; 
    grid-template-columns: 26% 20% 26% 26%;
  }

  footer{ 
    background-color: black;
    color: peachpuff;
  }